<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    {% include head-custom.html %}
    <!-- Sidebar moved above main content -->
    <div class="sidebar">
      <h2>Navigation</h2>
      <ul>
        <li><a href="https://divizion-mad.github.io/1/">Home</a></li>
        <li><a href="https://www.youtube.com/@DivizionM.A.D">Media</a></li>
        <li><a href="https://discord.com/invite/tZ5FnVWxxM">Operations</a></li>
      </ul>
    </div>
  </head>
  <body>
    <!-- Main Page Content -->
    <div class="main-content-area">
      <header class="page-header">
        <h1 class="project-name">{{ site.title }}</h1>
      </header>
      <iframe src="https://discord.com/widget?id=882605020472823869&theme=dark" 
          width="350" height="500" allowtransparency="true" 
          frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox 
          allow-same-origin allow-scripts">
          </iframe>
      <main class="main-content">
        {{ content }}
      </main>
    </div>
  </body>
</html>
